<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

   
    <header>
        <h1>Welcome</h1>
    </header>

    <%- include("particles/nav.ejs") %>
    
    <div  id="title">
        <h2>This is a random page title</h2>
    </div>
    
    <main>
        <div id="generalcontent">
            <% comments.forEach(row =>{ %>
                <p><strong>username:</strong><%= row.username</p>

                <p><strong>email:</strong><%= row.email</p>
                
                <p><strong>comment:</strong><%= row.comment</p>

            <%}); %>

        </div>  
    
    </main>
   
   
   
   
   
    <link rel="stylesheet" href="styles/styles.css">
    <script src="scripts/formexample.js"></script>
</body>
</html>
