<form method="post" action="/contact" id="frmxample">
    <label for="txtname">username:</label><input id="txtname"  name="name">
    <label for="txtemail">email:</label><input type="email" id="txtemail" name="email">
    
    <label for="textarea">comment:</label><input id="textarea" name="comments">
    
    
    <button id="btnexample">click here</button>
    <p id="result"></p>

<script src="scripts/formexample.js"></script>
</form>












