<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The RapNation</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  
    <section class="header">
        <%- include("particles/nav.ejs") %>
        
        <div class="text-box">
            <h1>The RapNation</h1>
            <p>welcome to the RapNation!Where we are hosting a ton of artists for all our hip-hop and rap fans.<br>Event starts 30th August 2021.
            </p>
            <a href="https://www.ticketmaster.co.uk/" class="hero-btn">tickets available</a>

        </div>
    </section>

    <div id ="cookieBanner">

        <p>We use cookies on our website and in our mobile apps to improve your online experience. Some of these cookies are necessary to make the sites work, to allow you to move around the sites and use some of its features. Others are optional non-essential cookies and help us and our partners to personalise content, analyse traffic, include advertising and provide social media features.</p>
        <button id="btncookie">x</button>
    </div>  
     
    <script src="scripts/main.js"></script>
</body>
</html>
    
    



