<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stages/channels</title>
</head>
<body>
            
   

    <section class="kratos">
        <div class="rapgod">
            <header>Stages/channels</header>
            <h1>Suprise event!!</h1>
            <h2>logan pauls vs Floyd Mayweather</h2>
            <p>we have the logan pauls vs Floyd Mayweather match-up for yall by 10:00am </p>
            <a href="https://www.ticketmaster.co.uk/" class="hero-btn">tickets available</a>

        </div>
        <%- include("particles/nav.ejs") %> 
    </section>

    <section class="god">
        <h1>Events</h1>
        <p>Enjoy events from various categories.</br>12pm dont be late!!</p>

        <div class="gods">
            <div class="godess">
                <img src="/images/rapbat.jpg">
                <h1>the rap battle</h1>
                <p>watch as differnent rappers go head-to-head in the ultimate rap battle.</br>12pm dont be late!!</p>
            </div>

            <div class="godess">
                <img src="/images/carss.jpg">
                <h1>THE CAR SHOW</h1>
                <p>watch pretty car girls didplay your favourite cars.</p>
            </div>
        </div>  


      
            
    </section>

    <link rel="stylesheet" href="styles/styles.css">
    <script src="scripts/main.js"></script>
    <script src="scripts/formexample.js"></script>
</body>
</html>






















