<nav>
    <div id ="barbanner">

        <button id="barbannercookie">x</button>
    </div> 
    <a href="/"><img src="/images/rap.jpg" alt="rap logo">
    
    <div class="nav-links">
        <ul>
            <li><a href="/line">Line up</a></li>
            <li><a href="/stages">Stages/Channels</a></li>
            <li><a href="/Advice">Advice page</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </div>
</nav>