<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Status</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <%- include("../partials/navbar") %>

    <header>
        <h1>Welcome</h1>
    </header>

    <div id="title">
        <h2>Comment Submission</h2>
    </div>

    <main>
        <div id="generalcontent">
            <% if (err) { %>
                <p>Sorry, there was an error connecting to the database.</p>
            <% } else { %>
                <p>Your comment was added successfully!</p>
            <% } %>
        </div>
    </main>

    <script src="/js/formexample.js"></script>
</body>
</html>