<form method="post" action="/contact" id="frmxample">
    <label for="txtname">Username:</label>
    <input id="txtname" name="username" type="text" required>

    <label for="txtemail">Email:</label>
    <input type="email" id="txtemail" name="email" required>

    <label for="textarea">Comment:</label>
    <input id="textarea" name="comment" type="text" required>

    <button id="btnexample" type="submit">Click Here</button>
    <p id="result"></p>

    <script src="/js/formexample.js"></script>
</form>